*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: #fff;
}

html,body{
  height: 100%;
  width: 100%;
}
body{
  overflow-x: hidden;
}

.mousefollower{
  border: 2px solid #fff;
  background-color: rgb(255, 255, 255);
  scale: 2;
  mix-blend-mode: difference ;
}

#loader{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: #030303;
  padding: 25vh 10vw;
}
.line{
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}
.line1-part1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
}
.line1-part1 h5,.line1-part1 h6{
  font-size: 4vw;
  font-weight: 100;
  font-family: "silk serif";
}
.line1-part1 h5{
  /* background-color: red; */
  width: 5vw;
  text-align: right;
}
.line h1{
  font-size: 6.5vw;
  font-weight: 900;
  text-transform: uppercase;
}
.line h2{
  font-size: 5vw;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes loaderAnime {
  0%{
      font-family: "Plain Light";
      -webkit-text-stroke: 1px #fff;
      font-weight: 500;
      color:#fff;
      opacity: 1;
  }
  48%{
      font-family: "Plain Light";
      -webkit-text-stroke: 1px #fff;
      color:#fff;
      font-weight: 500;
      opacity: 0;
  }
  50%{
      font-family: "silk serif";
      -webkit-text-stroke: 1px #fff;
      color:transparent;
      font-weight: 500;
      opacity: 1;
  }
  100%{
      font-family: "silk serif";
      -webkit-text-stroke: 1px #fff;
      color:transparent;
      font-weight: 500;
      opacity: 0;
  }
}
#main{
  position: relative;
  background-color:#101112 ;
  z-index: 99;
}
.page1{
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 100;
}
.page1 #nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vw 5.5vw;
}
#nav-part2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}
#nav-part2 h4{
  font-size: 1vw;
  font-weight: 500;
}
.hero{
  /* background-color: red; */
  width: 73%;
  margin-left: 27%;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}
.hero:nth-child(2){
  margin-top: 19vh;
}
.hero h1{
  color: #E8E6E3;
  font-size: 7.2vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 7.2vw;
  position: relative;
}
#hero1::before {
  content: "01";
  position: absolute;
  font-size: 3.3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: 21%;
  top: 31%;
}

.hero h2{
  color: #E8E6E3;
  font-size: 7.2vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 7.2vw;
  border-bottom: 0.5vw solid #fff;
  /* padding-bottom: 0.8vw;
  transition: all ease 0.3s; */
}

.hero h2:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: 500;
  border-bottom: 0.5vw solid #ffffff00;
}

.page2{
  height: 100vh;
  width: 100%;
  padding-top: 17vh;
  position: relative;
}
.video-container{
  height: 65vh;
  width: 71vw;
  position: relative;
  left: 28%;
  background-color: red;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
  background-size: cover;
  background-position: center;
}
/* .video-container img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
} */
.video-container video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;

}

#video-cursor{
  height: 9vw;
  width: 9vw;
  border-radius: 50%;
  position: absolute;
  background-color: #FFA63D;
  top: -15%;
  left: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
#video-cursor i{
  font-size: 3vw;
  color: #E8E6E3;
}
.page3{
  min-height: 100vh;
  width: 100%;
  /* background-color: rgb(61, 61, 61); */
  position: relative;
  padding: 17vw 2vw;
  margin-top: 20vh;
  margin-bottom: 20vw;
}
.page3 h1{
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
  margin-left: 28vw;
}
.page3 h1::before{
  content: "02";
  position: absolute;
  font-size: 3.5vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -12%;
  top: 8%;
}
.page3 .underline{
  /* height: 0.104vw; */
  margin-left: 28vw;
}
#img-div-container{
  padding: 1vw;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.img-div{
  height: 38vw;
  width: 27vw;
  margin: 2vw;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.img-div:nth-child(1){
  height: 29vw;
  width: 21vw;
}
.img-div img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  object-position: center;
}
.page3-circle1{
  height: 23vw;
  width: 23vw;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23vh;
  margin-left: 10vw;
  
}
.page3-circle1 svg{
  height: 35%;
}
.circle-in{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
  transition: all ease 0.5s;
}
.circle-in p{
  font-size: 0.95vw;
  color: #000;
  font-weight: 500;
  width: 60%;
  scale: 0;
  transition: all ease 0.5s;
  transition-delay: 0.5s;
  opacity: 0;
}
.page3-circle1:hover .circle-in{
  scale: 1;
}
.page3-circle1:hover p{
  scale: 1;
  opacity: 1;
}
.page3-circle2{
  height: 23vw;
  width: 23vw;
  border: 2px solid #fff;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.page3-circle2 svg{
  height: 35%;
  rotate: -45deg;
}
.page3-circle2:hover .circle-in{
  scale: 1;
}
.page3-circle2:hover p{
  scale: 1;
  opacity: 1;
}
.page4{
  min-height: 100vh;
  width: 100%;
  /* background-color: rgb(61, 61, 61); */
  position: relative;
  padding-top: 7vh 0;
  margin-bottom: 50vh;
}
#page4-content{
  width: 72vw;
  position: relative;
  margin-left: 28%;
}
#page4-content h1{
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
}
#page4-content h1::before{
  content: "03";
  position: absolute;
  font-size: 3.5vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -12%;
  top: 8%;
}
#page4-content .underline{
  /* height: 0.104vw; */
  height: 0.104vw;
  width: 100%;
  background-color: #fff;
  margin: 2vw 0;
  color: #E8E6E3;
}
#page4-content>p{
  font-size: 2.05vw;
  color: #E8E6E3;
  width: 50%;
  font-weight: 100;
  margin-bottom: 3vw;
}

#page4-flex{
  display: flex;
}
#page4-flex img{
  width: 48%;
  
}
#page4-flex p{
  font-size: 1.2vw;
  width: 30%;
  line-height: 1.5vw;
  margin: 1vw;
  color: #E8E6E3;
}
#page4-blue-div{
  background-color: #093EA3;
  width: 40vw;
  padding: 3vw;
  position: relative;
  margin-left: 29.5vw;
  margin-top: -20vh;
}
.blue-div-elm{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 2vw 0;
  border-bottom: 2px solid #ffffff94;
}
.blue-div-elm h4{
  font-size: 1.5vw;
  font-weight: 300;
  color: #E8E6E3; 
}
.blue-div-elm p{
  font-size: 1vw;
  width: 50%;
  color: #CACFDB;
}
.page5{
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.elm{
  /* background-color: red; */
  white-space: nowrap;
  margin-bottom: -2vw;
}
.elm h1{
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 16px;
  animation-name: move;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.elm2{
  /* background-color: red; */
  white-space: nowrap;
  margin-bottom: -2vw;
}
.elm2 h1{
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  /* margin-right: 1vw; */
  transform: translateX(calc(-100% - 20px));
  animation-name: move;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
@keyframes move{ 
  from{
      transform: translateX(0);
  }
  to{
      transform: translateX(calc(-100% - 20px));
  }   
}
.elm span{
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}
.elm2 span{
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}
#footer{
  height: 80vh;
  widows: 100%;
  /* background-color: red; */
  position: relative;
  padding-left: 28vw;
}
#footer h1{
  font-size: 7vw;
  text-transform: uppercase;
  color: #E8E6E3;
  font-weight: 600;
  /* background-color: blue; */
  position: relative;
}
#footer-text {
  position: relative;
  /* background-color: red; */
}
#footer-text h2 {
  font-size: 7.2vw;
  text-transform: uppercase;
  position: absolute;
  top: -10%;
  font-weight: 500;

  left: 0;
  font-family: "silk serif";
}

#footer-text h2 span {
  font-family: "silk serif";
  opacity: 0;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}
#footer-text::before{
  content: "04";
  position: absolute;
  font-size: 3.5vw;
  font-weight: 100;
  font-family: "silk serif";
  left: -12%;
  top: 8%;
}
.underline{
  height: 2px;
  width: 100%;
  background: #fff;
  margin: 2vw 0;
}
#footer-div{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 15vw;
  padding-top: 4vw;
  margin-bottom: 6vw;
}
#footer-div h6{
  font-size: 1vw;
  margin-bottom: 1.5vw;
}
.box{
  width: 20%;
}
#footer-div h5{
  color: #E8E6E3; 
  font-size: 2vw;
  font-weight: 400;
  line-height: 1;
}
#footer-div h5{
  font-size: 1.4vw;
  font-weight: 500;
}
#footer>h5{
  font-weight: 500;
  font-size: 1vw;
}

._canvas_container {
  z-index: 999999 !important;
  pointer-events: none;
}
#flag{
  height: 25vw;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translate(-50%,-50%);
}
#hero3{
  /* background-color: red; */
  z-index: 99;
  position: relative;
}

@media (max-width:600px){
  .page1{
      height: 60vh;
      width: 100%;
      position: relative;
      z-index: 100;
      padding: 1px;
      margin-bottom: 12vh;
  }
  .page1 #nav{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 4.3vw 5vw;
      position: fixed;
      width: 100%;
      /* background-color: red; */
      top: 0;
  }
  #nav svg{
      scale: 0.8;
  }
  #nav-part2{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3vw;
      display: none;
  }
  #nav-part2 h4{
      font-size: 1vw;
      font-weight: 500;
  }
  .hero{
      /* background-color: red; */
      width: 73%;
      margin-left: 5%;
      overflow-y: hidden;
      display: flex;
      align-items: center;
  }
  .hero:nth-child(2){
      margin-top: 26vh;
  }
  .hero h1{
      color: #E8E6E3;
      font-size: 9.8vw;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 10vw;
      position: relative;
  }
  #hero1::before {
      content: "01";
      position: absolute;
      font-size: 5vw;
      font-weight: 100;
      font-family: "silk serif";
      left: 5%;
      top: 35%;
  }
  
  .hero h2{
      color: #E8E6E3;
      font-size: 9.8vw;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 10.5vw;
      border-bottom: 0.6vw solid #fff;
      /* padding-bottom: 0.8vw;
      transition: all ease 0.3s; */
  }
  .page2{
      height: 60vh;
      width: 100%;
      padding-top: 6vh;
      position: relative;
      margin-bottom: 12vh;
  }
  .video-container{
      height: 52vh;
      width: 100vw;
      position: relative;
      left: 0;
      background-color: red;
      background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
      background-size: cover;
      background-position: center;
  }
  /* .video-container img{
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      top: 0;
  } */
  .video-container video{
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0;
  
  }
  
  #video-cursor{
      height: 25vw;
      width: 25vw;
      border-radius: 50%;
      position: absolute;
      background-color: #FFA63D;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
  }
  #video-cursor i{
      font-size: 5vw;
      color: #E8E6E3;
  }
  .page3{
      min-height: 58vh;
      width: 100%;
      /* background-color: rgb(61, 61, 61); */
      position: relative;
      padding: 17vh 3vw;
      margin-top: 0vh;
      margin-bottom: 20vw;
  }
  .page3 h1{
      font-size: 9.5vw;
      text-transform: uppercase;
      position: relative;
      margin-left: 2vw;
      margin-bottom:3vh ;
  }
  .page3 h1::before{
      content: "02";
      position: absolute;
      font-size: 5vw;
      font-weight: 100;
      font-family: "silk serif";
      left: 0%;
      top: -50%;
  }
  .page3 .underline{
      /* height: 0.104vw; */
      margin-left: 2vw;
      width: 94%;
  }
  #img-div-container{
      margin-top: 10vw;
      padding: 1vw;
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
  }
  .img-div{
      height: 38vw;
      width: 27vw;
      margin: 2vw;
      flex-shrink: 0;
      position: relative;
      overflow: hidden;
  }
  .img-div:nth-child(1){
      height: 29vw;
      width: 21vw;
  }
  .img-div img{
      height: 100%;
      width: 100%;
      object-fit:cover;
      object-position: center;
  }
  .page3-circle1{
      height: 23vw;
      width: 23vw;
      border: 2px solid #fff;
      border-radius: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 23vh;
      margin-left: 10vw;
      
  }
  .page3-circle1 svg{
      height: 35%;
  }
  .circle-in{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      scale: 0;
      border-radius: 50%;
      transition: all ease 0.5s;
  }
  .circle-in p{
      font-size: 0.95vw;
      color: #000;
      font-weight: 500;
      width: 60%;
      scale: 0;
      transition: all ease 0.5s;
      transition-delay: 0.5s;
      opacity: 0;
  }
  .page3-circle1:hover .circle-in{
      scale: 1;
  }
  .page3-circle1:hover p{
      scale: 1;
      opacity: 1;
  }
  .page3-circle2{
      height: 23vw;
      width: 23vw;
      border: 2px solid #fff;
      position: relative;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      
  }
  .page3-circle2 svg{
      height: 35%;
      rotate: -45deg;
  }
  .page3-circle2:hover .circle-in{
      scale: 1;
  }
  .page3-circle2:hover p{
      scale: 1;
      opacity: 1;
  }
}